<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.afinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final">
        <activity
            android:name=".mody"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home"
            android:exported="true"
            android:label="home" />
        <activity
            android:name=".signup"
            android:exported="true"
            android:label="signup" />
        <activity
            android:name=".login"
            android:exported="true"
            android:label="login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".skincare"
            android:exported="true"
            android:label="skincare" />
        <activity
            android:name=".haircare"
            android:exported="true"
            android:label="haircare" />

        <receiver
            android:name=".AirplaneModeChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>